html{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


*,
*::before,
*::after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    font-family: "jost";
    background-color: #f0f9ff;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.nav{
    padding: 30px 0;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
.logo_img{
    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
    transition: left 0.3s ease-in-out;
    text-align: center;
}
.menu_item{
    margin-left: 30px;
    margin-bottom: 20px;
}
.menu_link{
    text-decoration: none;
    color: #160b38;
    font-family: "Jost-Medium";
    display: block;
    
}
.menu_link_active{
    background-color: #3B1C99;
    color: white;
    font-family: "Jost-Bold";
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 15px 25px;
}

.nav_icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.page_content_title{
    color: #160b38;
    font-family: "Jost-Bold";
    font-size: 70px;
    position: relative;
}

.page_content_title::before{
    content: "";
    position: absolute;
    left:-22px;
    top:-12px;
    background: url("../images/Lines.svg") no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100%;

}

.page_content_caption{
    color: #160b38;
    font-family: "Jost-Medium";
    font-size: 22px;
    line-height: 35px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.page_content_link{
    color: white;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: #8054f6;
    padding: 15px 15px;
    font-family: "Jost-Bold";
    text-decoration: none;
    display: block;
    max-width: 146px;
    text-align: center;
}

.main{
    margin-top: 40px;
}

.page_content{
    width: 50%;
}

.page_banner{
    width: 50%;
}

.page_img{
width: 100%;
}

/*
-App MediaQuery
*/

@media only screen and (max-width:1200px){
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width:992px){
    .container{
        max-width: 720px;
    }
}
@media only screen and (max-width:768px){
    .container{
        max-width: 540px;
    }
    .nav_icon{
        display: block;
    }
    .menu{
        display: block;
        position: fixed;
        left: -220px;
        top: 0;
        bottom: 0;
        z-index: 2;
        padding: 25px;
        width: 220px;
        background: white;
    }

    .menu_item{
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .page_content{
       order: 1; 
       width: 100%;
       text-align: center;
    }
    .page_banner{
         order: 0;
         width: 100%;
         text-align: center;
         margin-bottom: 25px;
    }
    .page_img{
       max-width: 370px; 
    }
    .main{
        margin-top: 20px;
    }
}
@media only screen and (max-width:576px){
    .container{
        max-width: 100%;
        padding: 0 35px;
    }
    .page_content_title{
        font-size: 56px;
          }
    .page_content_caption{
        font-size: 20px;
           }
}